{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
  	 	<h2>Restablecer contraseña</h2><hr>
		<p>Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación y te enviaremos instrucciones por correo electrónico para configurar una nueva contraseña.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info" type="submit">Enviar email</button>
        </form>
  	</div>
{% endblock %}