{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Regístrate</legend>
                {{ form|crispy }}
            </fieldset>

            Registrándote, aceptas los términos de servicio y privacidad

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Regístrarse</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Ya tienes una cuenta? <a class="ml-2" href="{% url 'login' %}">Inicia sesión</a>
            </small>
        </div>
    </div>
{% endblock content %}